
    
    <link rel="stylesheet" href="../css/header.css">

<header>
    <div class="logo">
        <img src="../../src/img/logosemfundo.png" alt="img da logo" >
    </div>
    <nav>
        <ul>
            <li><a href="../../pages/home.html">Home</a></li>
            <li><a href="../../pages/funcionalidades.html">Funcionalidades</a></li>
            <li><a href="../../pages/faleconosco.html">Fale Conosco</a></li>
            <li><a href="../../pages/aboutus.html">Sobre Nós</a></li>
        </ul>
    </nav>
</header>