* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(0deg, #2E5902 0%, #63BF04 100%);
    width: 100%;
    height: 140px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0; 
    padding: 0;
    
}

.logo img{
    width:140px;
    height:93px;
    margin-left: 20px;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #1d3e20; /* Cor de fundo ao passar o mouse */
    border-radius: 5px;
}

/* Responsividade */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    nav ul li {
        margin: 5px 0;
    }
}